.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: wrap;
  box-sizing: border-box;
  padding: 16px;
  border: 2px solid black;
  margin: 8px;
  align-self: start;
}

.pokemon-info-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.types-label,
.weaknesses-label {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 5px;
}

img {
  max-width: 100px;
  height: 100px;
}

.pokemon-card.grass{
  background-color: rgb(146, 223, 30);
}

.pokemon-card.expanded{
  align-self:auto;
  transition: all .5s;
}